/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Header Styles */
header,footer {
  background-color: #4CAF50;
}

header h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

/* Main Content Styles */
main {
  padding: 20px;
}

h2 {
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 20px;
  color: #4CAF50;
}

section.interactive-tools-section {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Carbon Footprint Calculator Styles */
.carbon-footprint-calculator {
  flex-basis: 32%;
  background-color: #f1f1f1;
  padding: 20px;
  margin-bottom: 20px;
}

.carbon-footprint-calculator h3 {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.carbon-footprint-calculator p {
  margin-bottom: 15px;
}

#carbonCalculatorForm {
  display: flex;
  flex-wrap: wrap;
}

#carbonCalculatorForm label {
  flex-basis: 100%;
  margin-bottom: 10px;
}

#carbonCalculatorForm input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#carbonCalculatorForm button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Interactive Map Styles */
.interactive-map {
  flex-basis: 32%;
  background-color: #f1f1f1;
  padding: 20px;
  margin-bottom: 20px;
}

.interactive-map h3 {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.interactive-map p {
  margin-bottom: 15px;
}

#map {
  width: 100%;
  height: 300px;
}

/* Climate Action Quiz Styles */
.climate-action-quiz {
  flex-basis: 32%;
  background-color: #f1f1f1;
  padding: 20px;
  margin-bottom: 20px;
}

.climate-action-quiz h3 {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.climate-action-quiz p {
  margin: 25px 0 15px;
}

#climateQuizForm {
  margin-bottom: 20px;
}

#climateQuizForm label {
  display: block;
  margin-bottom: 10px;
}

#climateQuizForm button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
